/* ========== 全局 ========== */
body {
    font-family: "Segoe UI", "Microsoft YaHei", sans-serif;
    background: #f3f4f6;
    margin: 0;
    padding: 0;
}

/* ========== 顶部区域 ========== */
.header {
    background: #34495e;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.header h1 {
    font-size: 46px;
    margin: 0;
    font-weight: 700;
}
.header div {
    margin-top: 8px;
    font-size: 20px;
}

/* ========== 分类按钮 ========== */
.category-tabs {
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    flex-wrap: wrap;
}
.category-tabs button {
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.category-tabs button:hover {
    background: #3498db;
    color: white;
}

/* ========== 卡片布局 ========== */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 14px;
    padding: 20px;
}
.card {
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    transition: 0.2s;
}
.card:hover {
    transform: scale(1.03);
}
.food-img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 12px;
}
.name { 
    font-size: 20px; font-weight: bold; margin-top: 8px; 
}
.name-en { 
    font-size: 14px; color: #555; margin-top: 3px; 
}
.left { 
    margin-top: 8px; font-size: 16px; 
}
.expired { background: #ffe6e6; }
.warning { background: #feffd1; }

/* ========== 后台登录 ========== */
.login-box {
    max-width: 350px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.login-box input[type=password] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
}
.login-box button {
    background: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* ========== 后台样式 ========== */
.admin-box {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.admin-box form input,
.admin-box form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
}
.btn-logout{
    display:inline-block;
    background:#e74c3c;
    padding:10px 15px;
    color:white;
    border-radius:8px;
    text-decoration:none;
}
